{% extends 'base.html' %}

{% block content %}


<section class="text-gray-600 body-font">
    <div class="container px-5 py-10 mx-auto">
        <section class="w-full h-auto">
            <div class="bg-white p-3 shadow-xl border rounded-sm">
                <div class="flex flex-row items-center space-x-2 font-semibold text-gray-800 py-2">
                    <div class="w-1/2">
                        <span class="text-gray-500">
                            i
                        </span>
                        <span class="tracking-wite">
                            Patient <span class="font-normal"> {{ patient.full_name }}</span>
                        </span>
                    </div>
                    <div class="w-1/2 text-right">
                        <button
                            class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Edit
                        </button>
                    </div>
                </div>
                <hr>
                <div class="grid grid-cols-2 h-full py-2">
                    <div class="flex flex-row py-1">
                        <div class="w-1/2 font-semibold">First name</div>
                        <div class="w-1/2">{{ patient.first_name }}</div>
                    </div>
                    <div class="flex flex-row py-1">
                        <div class="w-1/2 font-semibold">Last name</div>
                        <div class="w-1/2">{{ patient.last_name }}</div>
                    </div>
                    <div class="flex flex-row py-1">
                        <div class="w-1/2 font-semibold">Insurance</div>
                        <div class="w-1/2">{{ patient.insurance }}</div>
                    </div>
                    <div class="flex flex-row py-1">
                        <div class="w-1/2 font-semibold">Idd</div>
                        <div class="w-1/2">{{ patient.idd }}</div>
                    </div>

                    <div class="flex flex-row py-1">
                        <div class="w-1/2 font-semibold">Birth date</div>
                        <div class="w-1/2">{{ patient.birth_date }}</div>
                    </div>
                    <div class="flex flex-row py-1">
                        <div class="w-1/2 font-semibold">Sex</div>
                        <div class="w-1/2">{{ patient.sex }}</div>
                    </div>

                    <div class="flex flex-row py-1">
                        <div class="w-1/2 font-semibold">Next appointment</div>
                        <div class="w-1/2">{{ patient.next_appointment }}</div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

{% endblock content %}