{% extends 'base.html' %}


{% block title %} Patients list
{% endblock title %}


{% block content %}

<section class="text-gray-600 body-font">
    <div class="container px-5 py-10 mx-auto">
        <div class="py-2 flex flex-row">
            <div class="w-1/2">
                <h2 class="text-2xl font-medium text-gray-900 capitalize lg:w-1/2 lg:mb-0 mb-4">patients</h2>
            </div>
            <div class="w-1/2 text-right">
                <button onclick="toggleModal('modal-id')"
                    class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Agregar
                    patient
                </button>
            </div>

        </div>
        <div class="flex flex-row text-center w-full mb-10">
            <div class="w-1/2 text-left">
                <input class="border border-gray-400 h-9 focus:ring-2 focus:ring-green-700 ">
            </div>
            <div class="w-1/2 text-right">
                Filter
            </div>

            <!-- Seach patien -->
        </div>
        <div class="flex flex-wrap -m-2">
            {% for patient in patients %}
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full ">
                <a href="{% url 'detail_patient' patient.id %}">
                    <div
                        class="h-full flex items-center border-gray-200 border p-4 text-gray-900 hover:bg-green-400 hover:text-white">
                        <img alt="team"
                            class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4"
                            src="https://dummyimage.com/84x84">
                        <div class="flex-grow">
                            <h2 class="title-font font-medium capitalize">{{ patient.full_name }}</h2>
                            <p class="opacity-80">{{ patient.next_appointment }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% include 'app/forms/patient_create_form.html' with form=form %}

{% endblock content %}